<div class="post card">
    <div class="card-header">
        <h2>Enter your address</h2>
    </div>
    <form id="address-form" class="card-body">

        <label class="form-label" for="address">Address</label>
        <input type="text" name="address" class="form-input" id="address" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>
<script src="/js/near-me.js"></script>