<h2 style="color: white">{{format_date game.date}}</h2>
<form id="join-game">
    <div class="form-group">
        <input type="hidden" id='game-id' name="game-id" value="{{game.id}}" />
    </div>
    <p style="color: white">Would you like to join this game?</p>
    <button type="submit" class="btn">Join</button>

</form>
<script src="/js/onegame.js"></script>