.h1 .h2 .body {
text-align: center;
font-size: 14rem;
color:white;
}

.hero   {
    background-image: url(./background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}